<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <h1>Enter Reviews</h1>
    <%= form_for [@product, @review] do |f| %>
      <%= label_tag "Rating:" %>
      <%= f.select :rating, ['1', '2', '3', '4', '5']%>

      <%= label_tag "Description:" %>
      <%= f.text_field :description %>


      <%= f.submit "Submit" %>
    <% end %>

    <h1>Reviews</h1>

    <div class="col-sm-8">
      <dl class="dl-horizontal">
        <%= render 'reviews' %>
      </dl>
    </div>



  </article>

</section>
